<div class="h-100 container">
  <br>
  <div class="h-100 row">
    <div class="col-md-12" id="work-panel" style="border:1px dotted black;">
      <div class="row" style="height:10%;border:1px dotted black;">
        <h5>Hello, <%= current_user.username %>. Your role is <%= current_user.role %>!</h5>
      </div>
      <div class="row" style="height:45%;border:1px dotted black;">
        <div class="col-4" style="border:1px dotted black;">Chart 1</div>
        <div class="col-4" style="border:1px dotted black;">Chart 2</div>
        <div class="col-4" style="border:1px dotted black;">Chart 3</div>
      </div>
      <div class="row" style="height:45%;border:1px dotted black;">
        <div class="col-md-3" style="border:1px dotted black;">Project 1</div>
        <div class="col-md-3" style="border:1px dotted black;">Project 2</div>
        <div class="col-md-3" style="border:1px dotted black;">Project 3</div>
        <div class="col-md-3" style="border:1px dotted black;">Project 4</div>
      </div>
    </div>
  </div>
  <br>
</div>