<div class="container container-fluid mt-5">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12 mt-5">            
            <ol class="breadcrumb">
                <li><%= link_to 'Employee Profiles', root_path %>
                </li>                
            </ol>
        </div>
    </div>
    <!-- Table view -->

    <div class="container">
        <h2>Employee profiles</h2>                    
        <table class="table">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Project A: access</th>
                <th>Project B: access</th>
                <th>Project C: access</th>                
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>A</td>
            <td><input type="checkbox" value=""></td>
            <td><input type="checkbox" value=""></td>
            <td><input type="checkbox" value=""></td>         
        </tr>
        <tr>
            <td>B</td>
            <td><input type="checkbox" value=""></td>
            <td><input type="checkbox" value=""></td>
            <td><input type="checkbox" value=""></td>         
        </tr>
        <tr>
            <td>C</td>
            <td><input type="checkbox" value=""></td>
            <td><input type="checkbox" value=""></td>
            <td><input type="checkbox" value=""></td>         
        </tr>
    </tbody>
</table>
</div>
</div>
<!-- /.container -->
</div>