<div class="container">
    <div class="row">

        <div class="col-md-3">
            <p>Navigation</p>

            <p>User Summary</p>
            <ol>
                <li>Area</li>
                <li>City</li>
            </ol>
            <p>Dustbin Summary
            <ol>
                <% @dustbins.each do |d| %>
                <li><%= d.name %></li>
                <% end %>
            </ol>

        </div>
        


        <div class="col-md-9" style="background:whitesmoke;">
            <h3>Account Summary</h3>
            <div class="row">
                <div class="col-md-6">
                    <%= column_chart @dustbins.group(:id).limit(10).pluck("dustbins.code, sum((dustbins.fill_level_id-1)*10) as fill_level"),
                    title: "Top Ten Highest Fill Level (%)",
                    colors: ['pink'],
                    library: {
                        tooltip: {
                        pointFormat: 'Times Bought: <b>{point.y}</b>'
                        }
                    } %>
                </div>

                <div class="col-md-6">
                    <%= column_chart @dustbins.group(:id).limit(10).pluck("dustbins.code, sum((dustbins.fill_level_id-1)*10) as fill_level"),
                    title: "Top Ten Fastest Fill Rate",
                    colors: ['aqua'],
                    library: {
                        tooltip: {
                        pointFormat: 'Times Bought: <b>{point.y}</b>'
                        }
                    } %>
                </div>

                <div class="col-md-12">
                    <%= line_chart @dustbins.limit(5).map { |d|
                        {name: d.code, data: d.dustbin_stats.limit(24).group_by_hour(:collected_at).sum(:fill_level_id)}
                    },
                    title: "Top 5 Dustbins Last 24h Daily Trending"
                    %>
                </div>

                

            </div>
        </div>

    </div>
</div>