<div class="jumbotron">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag('analytics.png', :class => "mx-auto d-block img-fluid homepage-pic") %>     
      </div>
      <div class="col-sm-12 col-md-6">
        <h1>Inteligent Monitoring</h1>
        <h2>  </h2>
        <p></p>        
      </div>
    </div>
  </div>
</div>

<div class="container container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 text-center">
      <h3>What it is</h3>
      <p>Donec sagittis ipsum sit amet enim tempor commodo. Sed elit elit, egestas id turpis sed, cursus commodo erat. Sed vulputate nulla metus, in scelerisque risus dictum sed. Cras feugiat mi vitae eros facilisis porta. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget.  </p>
    </div>

    <div class="col-sm-12 col-md-6 text-center">
      <h3>Key features</h3>
      <p>Donec sagittis ipsum sit amet enim tempor commodo. Sed elit elit, egestas id turpis sed, cursus commodo erat. Sed vulputate nulla metus, in scelerisque risus dictum sed. Cras feugiat mi vitae eros facilisis porta. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget.  </p>
    </div>

  </div>
</div>
<div class="jumbotron">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag('analytics.png', :class => "mx-auto d-block img-fluid homepage-pic") %>     
      </div>
      <div class="col-sm-12 col-md-6">
        <h1>Smart Bin technology</h1>
        <h2>  </h2>
        <p></p>        
      </div>
    </div>
  </div>
</div>

<div class="container container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 text-center">
      <h3>What it is</h3>
      <p>Donec sagittis ipsum sit amet enim tempor commodo. Sed elit elit, egestas id turpis sed, cursus commodo erat. Sed vulputate nulla metus, in scelerisque risus dictum sed. Cras feugiat mi vitae eros facilisis porta. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget.  </p>
    </div>

    <div class="col-sm-12 col-md-6 text-center">
      <h3>Key features</h3>
      <p>Donec sagittis ipsum sit amet enim tempor commodo. Sed elit elit, egestas id turpis sed, cursus commodo erat. Sed vulputate nulla metus, in scelerisque risus dictum sed. Cras feugiat mi vitae eros facilisis porta. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget.  </p>
    </div>

  </div>
</div>

<div class="jumbotron">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag('analytics.png', :class => "mx-auto d-block img-fluid homepage-pic") %>     
      </div>
      <div class="col-sm-12 col-md-6">
        <h1>Route Optimisation</h1>
        <h2>  </h2>
        <p></p>        
      </div>
    </div>
  </div>
</div>

<div class="container container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 text-center">
      <h3>What it is</h3>
      <p>Donec sagittis ipsum sit amet enim tempor commodo. Sed elit elit, egestas id turpis sed, cursus commodo erat. Sed vulputate nulla metus, in scelerisque risus dictum sed. Cras feugiat mi vitae eros facilisis porta. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget.  </p>
    </div>

    <div class="col-sm-12 col-md-6 text-center">
      <h3>Key features</h3>
      <p>Donec sagittis ipsum sit amet enim tempor commodo. Sed elit elit, egestas id turpis sed, cursus commodo erat. Sed vulputate nulla metus, in scelerisque risus dictum sed. Cras feugiat mi vitae eros facilisis porta. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget. Nunc pharetra dui non odio mattis interdum. Sed interdum eu tortor eget pretium. Aenean dictum non urna eu tempor. Quisque fringilla scelerisque turpis, id mollis sem fringilla eget.  </p>
    </div>

  </div>
</div>