// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-container{
   transform: translate(0px, 50%); 
   max-width: 400px;
}

.login-form{
   margin-top: 3%;   
}  